<div class="flex h-full">
    <div class="h-full w-16 border-r-2 border-slate-800 mb-2">
        <button class="mx-1"><img class="mt-2 rounded-full hover:rounded-2xl" src="../../../assets/images/temp_logo.png"/></button>
        <div class="border-b-2 border-gray-500 mb-2"></div>
        <button class="mx-1"><img class="rounded-full hover:rounded-2xl" src="../../../assets/images/cyberecho_logo.png"/></button>
        <button class="mx-1"><img class="rounded-full hover:rounded-2xl" src="../../../assets/images/cyberecho_logo.png"/></button>
    </div>
    
    <div class="flex-grow grid grid-cols-12">
        <div class="h-full w-full col-span-3 border-r-2 border-gray-500">
            <app-main-dashboard></app-main-dashboard>
        </div>
        <div class="h-full w-full col-span-9">
            <app-friends-dashboard></app-friends-dashboard>
        </div>
    </div>  
</div>

